@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

body {
    color: black;
    background-size: cover;
    background-color: #f1faee;
    width: 100%;
    height: 100%;
    margin: 0;
}
h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.75em;
    color: #1d3557 !important;
}
/* Top Style */
.header-cont {
    background: url('../assets/home/bluemountains.jpg') no-repeat center top fixed;
    background-size: cover;
    text-align: center;
    opacity: 0.8;
    top: 0;
    width: 100%;
}
.top {
    animation: fadeIn 1.8s forwards;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 800px;
    flex-direction: column;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.top .top-text {
    padding-top: 100px;
    align-self: center;
    z-index: 2;
    margin: 20px;
}
/* --Button Style */
#project-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    margin: 10px 0;
}
.colored-proj-btns {
    background-color: #e63946;
    border: none;
    color: #f1faee;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 4px;
    height: 60px;
    width: 100%;
    cursor: pointer;
    line-height: 60px;
    transition: .25s;
}
.colored-proj-btns:hover {
    background-color: #E5553F;
}
/* Lower Content Style */
.lower-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lower-content h3 {
    color: #457b9d !important;
    margin: 0;
    padding: 1em 1em 1em;
    text-align: center;
}
.lower-content p {
    color: #1d3557;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0 2em;
    margin: 0 0 2em;
}
.lower-content img {
    width: 100%;
}
@media (min-width: 700px) {
    .about-sec {
        display: grid;
        grid-template-columns: auto 400px;
        grid-template-areas: "abt-text pic";
        grid-template-rows: max-content;
        width: 100%;
    }
    .lower-content img {
        grid-area: pic;
        max-height: 400px;
        max-width: 400px;
        right: 0;
    }
    .lower-content .lower-text {
        grid-area: abt-text;
        display: flex;
        flex-direction: column;
    }
}